@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  ul {
    @apply list-disc ml-4;
  }

  html {
    @apply scroll-smooth text-black;
  }

  body {
    @apply bg-white font-poppinsRegular overflow-x-hidden;
  }

  section {
    @apply md:my-[89px] my-20;
  }

  .container {
    @apply p-4;
  }

  hr {
    @apply md:border-2 border-[1px] border-cyberspace-gray w-full;
  }
}

/* Font */
/* Font */
@font-face {
  font-family: "poppinsBlack";
  src: url("../poppins-cufonfonts/Poppins-Black.ttf") format("truetype");
  font-weight: 800; /* This corresponds to ExtraBold font weight */
}

@font-face {
  font-family: "poppinsBold";
  src: url("../poppins-cufonfonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 800; /* This corresponds to ExtraBold font weight */
}

@font-face {
  font-family: "poppinsExtraBold";
  src: url("../poppins-cufonfonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* This corresponds to ExtraBold font weight */
}

@font-face {
  font-family: "poppinsExtraLight";
  src: url("../poppins-cufonfonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200; /* This corresponds to ExtraLight font weight */
}

@font-face {
  font-family: "poppinsLight";
  src: url("../poppins-cufonfonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300; /* This corresponds to Light font weight */
}

@font-face {
  font-family: "poppinsMedium";
  src: url("../poppins-cufonfonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500; /* This corresponds to Medium font weight */
}

@font-face {
  font-family: "poppinsRegular";
  src: url("../poppins-cufonfonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* This corresponds to Regular font weight */
}

@font-face {
  font-family: "poppinsSemiBold";
  src: url("../poppins-cufonfonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600; /* This corresponds to Semibold font weight */
}

@font-face {
  font-family: "poppinsThin";
  src: url("../poppins-cufonfonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100; /* This corresponds to Thin font weight */
}
/* Font end */

@layer utilities {
  /* .text-stroke  {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 12px;
          @apply text-Black-storke
      } */

  h1 {
    @apply 2xl:text-[40px] lg:text-3xl md:text-base text-lg;
  }

  h2 {
    @apply lg:text-2xl md:text-xl text-sm;
  }

  h3 {
    @apply md:text-2xl text-base;
  }

  h5 {
    @apply md:text-base text-sm;
  }

  h6 {
    @apply 2xl:text-base lg:text-sm text-xs;
  }
}

/* Global */
/* Accordion */
@layer components {
  .accordion-header.active i {
    @apply transition ease-in-out duration-300;
    transform: rotateX(180deg);
  }
  .accordion-header.active svg {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .accordion-body {
    @apply max-h-0 overflow-hidden transition-all duration-200 ease-in-out;
  }
}
.Navlink-Active {
  @apply font-poppinsBold;
}

.nav-bg-Gradient {
  background: linear-gradient(180deg, rgba(250, 247, 245, 0.99) 67.48%, rgba(250, 247, 245, 0.77) 79.33%, rgba(250, 247, 245, 0) 100%);
}

.text-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.1s ease; /* Efek animasi transisi */
}

/* Tambahkan efek transisi ke semua properti yang berubah */

/* Global End */

/*Homepage css */
.signup-button {
  border-radius: 109px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 43%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 43%) bottom left / 50% 50% no-repeat,
    linear-gradient(to top left, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 43%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 43%) top right / 50% 50% no-repeat,
    radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #1d77ff;

  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
}
.why__learn {
  margin-bottom: 24px !important;
}
.steam-box {
  background: radial-gradient(463.26% 49.39% at 50.61% 50%, #fff85c 0%, #ffb800 100%);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
  margin-top: 0 !important;
}
.program-box {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.program-detail-box {
  border-radius: 30px;
  background: linear-gradient(146deg, rgba(255, 255, 255, 0.7) -30.23%, rgba(255, 255, 255, 0) 46.34%, rgba(255, 255, 255, 0) 79.48%), #ffb117;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
}
/*Homepage css */
/*About Us css */
.lingkaran-oren {
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  width: 100%;
  background: linear-gradient(180deg, #f90 0%, rgba(255, 153, 0, 0) 100%), linear-gradient(180deg, #ffc604 0%, rgba(255, 198, 4, 0) 100%), linear-gradient(180deg, #fff85c 0%, rgba(255, 248, 92, 0) 100%), #ffe77a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box-biru {
  border-radius: 30px;
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(255, 245, 0, 0.23) 0%, rgba(255, 245, 0, 0) 86.18%), radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #5cc8d7;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
}
.box-biru-muda {
  border-radius: 30px;
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(250, 255, 0, 0.23) 0%, rgba(250, 255, 0, 0) 86.18%), radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, #ffffff00 100%), #58d9cd;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
}
.box-kuning {
  border-radius: 30px;
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(255, 245, 0, 0.23) 0%, rgba(255, 245, 0, 0) 86.18%), radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #fff85c;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box-kuning-muda {
  border-radius: 30px;
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(255, 245, 0, 0.23) 0%, rgba(255, 245, 0, 0) 86.18%), radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #fff85c;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*About Us css */
.box-button-orange {
  border-radius: 30px;
  background: radial-gradient(76.16% 76.16% at 31.97% 19.67%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #f90;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
}
.lingkaran-oren-full {
  border-top-right-radius: 500px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  width: 100%;
  background: linear-gradient(180deg, #f90 0%, rgba(255, 153, 0, 0) 100%), linear-gradient(180deg, #ffc604 0%, rgba(255, 198, 4, 0) 100%), linear-gradient(180deg, #fff85c 0%, rgba(255, 248, 92, 0) 100%), #ffe77a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Partnership css */
.box-kuning-affiliate {
  border-radius: 30px;
  background: radial-gradient(107.08% 85.59% at 86.3% 87.5%, rgba(255, 245, 0, 0.23) 0%, rgba(255, 245, 0, 0) 86.18%), radial-gradient(83.94% 83.94% at 26.39% 20.83%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #fff85c;
  box-shadow: -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset, 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* vanila css end*/
